@import 'toolkit';

.summary {
  display: flex;
  flex-flow: column wrap;
  padding: 40px 32px;
  width: 312px;
  background-color: getTheme('summaryBackground');
  color: getTheme('summaryTextColor');

  @include breakpoint() {
    width: 100%;
  }

  > :global(*) {
    width: 100%;
  }

  :global(.wrapper) {
    padding: 32px 0;

    &.border {
      @include summary-block;
    }
  }
}
