.row {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  & + & {
    margin-top: 32px;
  }
}

[class*="col-"] {
  display: flex;
  align-items: center;

  &:not([class="col-product"]) {
    justify-content: center;
  }
}
